[user]
	email = luckymahendra080503@gmail.com
	name = luckynee
	signingkey = 5B61512AE4ABAEBF

[commit]
	gpgsign = true
[tag]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
